.happy {
    margin: 0 200px 0px 200px;

}

.footer {
    background-image: linear-gradient(black, rgb(8, 8, 68));
    width: 100%;
    height: 100px;
}

.icon {
    display: flex;
    justify-content: center;
    padding: 35px;
}